.content-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

.content-container h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    margin: 40px 0 40px 0;
    color: rgb(69, 69, 118);
}

/* Make CSS Grid to conform to all resolutions */
.content-box-full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 90%;
    font-size: 20px;
}

.content-section {
    color: white;
    background-color: rgb(83, 83, 144);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.content-section-picture {
    color: white;
    background-color: rgb(83, 83, 144);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 0px 20px 0px 20px;
    min-width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-section-picture img {
    width: 30%;
    height: auto;
}


.skill-container {
    margin-top: 20px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skill-container h2 {
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
    margin: 10px 0 10px 0;
    color: rgb(69, 69, 118);
}

.skill-meter {
    width: 90%;
    background-color: rgb(197, 197, 197);
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.skill-meter-fill {
    height: 95%;
    width: 90%;
    background-color: rgb(69, 69, 118);
    border-radius: 15px;
}

@media screen and (max-width: 1400px) {
    .content-box-full {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .content-box-full {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .content-section-picture img {
        width: 15%;
        height: auto;
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .contact-button {
        margin-top: 40px;
    }

    .content-box-full {
        width: 90%;
        margin: 0 auto;
        font-size: 18px;
        font-family: 'Roboto Flex', sans-serif;
    }

    .skill-meter {
        width: 90%;
    }
}