@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&display=swap');

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #18182A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
}

.accent {
  color: #ff4a55;
}